.box{background-color: purple;color: white;}
.addStudent{background-color: crimson;color: aliceblue;}
.studentList{background-color: darkcyan;color:aliceblue;}
.EditPageHeading{background-color: darkorange;color: aliceblue;}
.EditPageHeading1{background-color: deeppink;color:aliceblue;}
.stuDetail{color: gray;background-color: gold;}